<footer>
    <p>Created by Pravesh</p>
    <a href="http://www.heypravesh.com" target="_blank">Hey pravesh</a>
    
    <%#= link_to "Visit My Website", "http://www.heypravesh.com", :target => "_blank" "both of these anchor tags work"%> 
    
</footer>