<footer>
    <p>Created by Pravesh</p>
    <a href="http://www.heypravesh.com" target="_blank">Hey pravesh</a>
    <a href="https://www.linkedin.com/in/pravesh-shrestha/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <%#= link_to "Visit My Website", "http://www.heypravesh.com", :target => "_blank" "both of these anchor tags work"%> 
    
</footer>