<%= render "navmain/navmain" %>
<h1 class="greetingh1">Hello there, check out some drinks by some random people and share yours too</h1>
        <%= link_to "Browse Drinks", controller: "drinks" %>
        <%# link_to "Browse Drinks", drinks_path , this works instead of above "controllers: "drinks" too%>
    