/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 *= require_tree .
 *= require_self
 */
@import "font-awesome";
 
 
 
h1 {
    clear: both;
    font-family: 'Kaushan Script', cursive;
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

footer {
    font-size: 30px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: space-around;
    background: black;
    color: white;
}

.authdiv {
    border: 5px solid palevioletred;
    background: cyan;
    width: 45vw;
    margin: 10% auto;
    text-align: center;
}

.authdiv div {
    margin-top: 10px;
}
body.authbody {
    background-image: url(authpicture.jpeg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 500px) {
    .authdiv {
        width: 60vw;
        font-weight: bold;
    }
    .editandnewform form {
        min-width: 60%;
    }
    footer {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
}

body.editandnewform {
    background-image: url("editnewbackground.jpeg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

body.editandnewform a {
    color: black;
    font-size: 30px;
    background: white;
    margin: 20px;
}
body.editandnewform form {
    text-align: center;
    background: #79FFDC;
    width: 30%;
    margin: 0 auto;
}