<div class = "navmain">
    <nav>
        <ul>
<% if user_signed_in? %>
        <%= render "profilenav/profilenav" %>
    <% else %>
        <li><%= link_to "Sign In", user_session_path %></li>
        <li><%= link_to "Register", new_user_registration_path %></li>
<% end %>
        </ul>
    </nav>
</div>